address {
  display: inline;
}

/* Logo */

.logo {
  /* opacity: 0; */
  background-color: white;
}

dt {
  padding: 5px;
  font-weight: bold;
}

/* A4 Page */
page {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 1px;
  /* margin-bottom: 0.5cm; */
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
}
page[size="A4"] {
  width: 21cm;
  height: 27.7cm;
}

/* Main Page Content */

.main-grid {
  padding: 20px;
  /* margin: 10px; */
}

.header {
  padding: 0 0 0.5rem 0;
}

.header > span {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 3px;
  color: gray;
}

.main-table {
  width: 19.7cm;
  height: 27.7cm;
  display: grid;
  border: solid 1px;
  border-collapse: collapse;
  grid-template-columns: 50px 1fr 80px 90px 50px 100px;
  grid-template-rows: auto 1fr auto auto 10fr repeat(4, auto);
}

.item {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  padding: 5px;
}

.item1 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 30px 2fr 4fr 2fr 30px;
  grid-template-rows: 100px;
  justify-items: center;
  align-items: center;
}

.bname {
  font-size: larger;
}

.bslogan {
  font-size: smaller;
}

.oname {
  font-size: 30px;
}

.bemail {
  font-size: 14px;
}

.item2 {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
}

.baddress {
  grid-column: 1/-1;
  justify-self: center;
}

.bpan-gst {
  grid-column: span 1;
  justify-self: left;
}

.bbankdetails {
  grid-column: span 1;
  justify-self: right;
}

.item3 {
  grid-column: span 3;
}

.item4 {
  grid-column: span 3;
}

.item11 {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 50px 1fr 80px 90px 50px 100px;
  grid-template-rows: repeat(10, auto);
  padding: 0px;
  margin: -1px;
}

.sub-item {
  padding: 3px;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-collapse: collapse;
}

.border-t {
  border-top: solid 1px black;
}

.border-b {
  border-bottom: solid 1px black;
}

.item17 {
  grid-column: span 3;
  grid-row: span 4;
}

.item18,
.item20,
.item22,
.item24 {
  grid-column: span 2;
}

.item28 {
  grid-column: span 5;
}

.item30 {
  grid-column: span 4;
  padding: 15px;
}

.item31 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 15px;
}

.item32 {
  grid-column: span 4;
}

.main-table img {
  width: 80px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.bg-lgray {
  background-color: lightgray;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.fw-bold {
  font-weight: bold;
}

.inputSno {
  width: 35px;
}

.inputPar {
  width: 400px;
}

.inputHsn,
.inputQty {
  width: 60px;
}

.inputRat,
.inputAmo {
  width: 80px;
}

.index-html {
  background: linear-gradient(270deg, #cc4502, #24acde);
  padding: 10px;
}

.index-html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#millName {
  width: 300px;
}

#millAddress {
  width: 300px;
  height: 100px;
}

#amountInWords {
  width: 612px;
}

.sstex-logo {
  width: 100px;
  border-radius: 50%;
}

.index-header {
  display: grid;
  grid-template-columns: 150px auto;
  align-content: center;
  justify-content: center;
}

.index-header h1 {
  text-shadow: 0 1px 5px black;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4caf50; /* Green */
  border-color: #2e7d3f;
}

/* Styles for the reset button */
button[type="reset"] {
  background-color: #f44336; /* Red */
  border-color: #c62828;
}

button[type="button"] {
  background-color: #4caf50;
  border-color: #2e7d3f;
}

#toggler {
  background-color: #3498db;
  border-color: #1f618d;
}

.print-button {
  display: flex;
  width: 19.7cm;
  justify-content: center;
}

td #total, td #igst, td #cgst, td #sgst, td #totalAmount {
  width: 145px;
}

@media print {
  button[type="button"] {
    display: none;
  }
}

/* .bill-margin-padding {
  margin: 0;
  padding: 0;
} */